<html>
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <body>
        <div class="container">
            <form method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="md-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn text-dark" style="background-color: #f8c8dc;">Entrar</button>
            <a href="{% url 'novo_usuario' %}" class="btn btn-outline-secondary">Criar usuário</a>
            </form>
            </div>

    </body>
</html>